@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .no-print {
    display: none !important;
  }

  table {
    page-break-inside: avoid;
  }

  th, td {
    background-color: inherit !important;
    color: inherit !important;
  }

  * {
    overflow: visible !important;
  }

  /* Tambahan biar icon & tulisan muncul */
  #header-title {
    visibility: visible !important;
    color: var(--foreground) !important;
    font-size: 22pt !important;
    font-family: Arial, Helvetica, sans-serif !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    page-break-inside: avoid !important;
    margin-bottom: 1em !important;
  }
}

